<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SiUber 게시판</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="dark" onclick="dk()">다크모드</a>
        </li>
		 <li class="nav-item">
          <a href="https://www.youtube.com/channel/UCQNE2JmbasNYbjGAcuBiRRg" target="_blank" class="nav-link"><img src="https://animalface.site/img/youtube-copy.jpg" alt="유튭" width="30px" height="27.250"> 제작도움 : 조코딩</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="texts">
	<h1>글쓰기</h1>
	<form action="/create" method="post">
	  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	  <input type="text" id="fname" name="title" placeholder="제목" class="text" required><br>
	  <textarea type="text" id="lname" name="content" placeholder="내용" rows="4" required></textarea><br>
	  <input type="submit" value="글쓰기">
	</form> 
</div>

<div class="boards">
	<% @posts.each do |post| %>
	<hr>
	<h2><%= post.title %></h2>
	<h4><%= sanitize post.content %></h4>
	<form action="/edit" method="post" class="buttons">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="hidden" name="id" value="<%= post.id %>">
		<input type="submit" value="수정하기">
	</form>
	<form action="/delete" method="post" class="buttons">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="hidden" name="id" value="<%= post.id %>">
		<input type="submit" value="삭제하기">
	</form>
	<hr>
	<% end %>
</div>

<script>
	var dark = 0;
	var dkbutton = document.getElementById('dark');
	var body = document.querySelector('body');
	function dk() {
		if (dark == 0) {
			body.style.backgroundColor = "black";
			body.style.color = "white";
			dark = 1;
			dkbutton.innerHTML = "라이트모드";
			document.querySelector('li').style.color = "black";
		} else {
			body.style.backgroundColor = "white";
			body.style.color = "black";
			dark = 0;
			dkbutton.innerHTML = "다크모드";
			document.querySelector('li').style.color = "black";
		}
	}
</script>